html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 24px;
  color: var(--primary-text-color);
  background-color: var(--white-color);
  letter-spacing: -0.02em;
}

body.modal-open {
  overflow: hidden;
  margin-right: var(--scrollbar-width, 0px);
}

.section {
  padding: 40px 0;
}

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

.section-title {
  color: var(--black-color);
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.section-title:first {
  text-transform: capitalize;
}

.section-title.with-offset {
  margin-bottom: 16px;
}

.section-description {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  max-width: 335px;
}

.section-description.with-offset {
  margin-bottom: 40px;
}

.rectangle {
  position: relative;
}

.rectangle::after {
  content: '';
  background-color: var(--secondary-accent-color);
  position: absolute;
  height: 12px;
  width: 100%;
  border-radius: 8px;
  left: 0;
  bottom: 2px;
  z-index: -1;
}

.button {
  border: none;
  background-color: var(--primary-accent-color);
  color: var(--white-color);
  cursor: pointer;
  font-weight: 700;
  border-radius: 12px;
  transition: background-color var(--primary-transition);
}

.button:hover,
.button:focus {
  background-color: var(--primary-hoover-color);
}

.rounded {
  border-radius: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: 768px) {
  .section {
    padding: 50px 0;
  }

  .container {
    max-width: unset;
    width: 768px;
    padding: 0 32px;
  }

  .section-title {
    font-size: 40px;
    line-height: 48px;
  }

  .rectangle::after {
    height: 16px;
    bottom: 0;
  }

  .section-description {
    font-size: 18px;
    line-height: 30px;
    max-width: 665px;
  }

  .section-description.with-offset {
    margin-bottom: 64px;
  }

  .button {
    font-size: 18px;
    line-height: 28px;
  }

  .rounded {
    border-radius: 30px;
  }
}

@media (min-width: 1280px) {
  .section {
    padding: 75px 0;
  }

  .container {
    width: 1280px;
    padding: 0 128px;
  }

  .container.wide {
    padding: 0 64px;
  }

  .rectangle::after {
    height: 20px;
  }
}
