.leave-application-hidden {
  display: none;
}

.leave-application-container {
  max-width: 335px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.leave-application-label {
  display: none;
}

.leave-application-container .section-description.with-offset {
  margin-bottom: 0;
  margin-bottom: 20px;
}

.leave-application-inputs-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.leave-application-input {
  all: unset;
  color: var(--black-color);
  box-sizing: border-box;
  width: 100%;
  max-width: 335px;
  height: 50px;
  border: 1px solid var(--input-border-color);
  border-radius: 12px;

  transition: border var(--primary-transition);

  padding: 16px 18px;
}

.leave-application-input::placeholder,
.comment::placeholder {
  color: var(--black-color);
}

.leave-application-input:hover,
.leave-application-input:focus {
  border: 1px solid var(--primary-accent-color);
}
.comment::placeholder {
  color: var(--black-color);
}
.comment {
  min-height: 94px;
}

.leave-application-radio-container {
  margin-top: 20px;
}

.leave-application-radio-title {
  font-weight: 600;
  color: var(--black-color);
  font-size: 18px;
  line-height: 0.75;
}

.leave-application-radio-label-radio-container {
  margin-top: 14px;
  color: var(--black-color);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.leave-application-radio-label-radio-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.radio {
  all: unset;
  position: relative;

  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid var(--radio-button-color);

  transition: border var(--primary-transition);

  display: inline-block;
}

.radio::before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity var(--primary-transition);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: inset 10px 10px var(--primary-accent-color);
}

.radio:checked::before {
  opacity: 1;
}

.radio:checked {
  border: 2px solid var(--primary-accent-color);
}

.leave-application-radio-label {
  margin-left: 8px;
}

.leave-application-button {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 335px;
  height: 52px;
  margin-top: 40px;
}

.leave-application-privacy {
  max-width: 335px;
  text-align: left;
  margin: 0 auto;
  line-height: 1.3;

  font-size: 12px;

  margin-top: 16px;
}

/* ---------------------------TABLET SECTION-------------------------- */

@media (min-width: 768px) {
  .leave-application-container {
    max-width: 586px;
  }

  .leave-application-input::placeholder {
    font-size: 16px;
  }

  .leave-application-container .section-description.with-offset {
    margin-bottom: 0;
    margin-bottom: 64px;
  }

  .leave-application-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
  }

  .leave-application-label {
    font-size: 16px;
  }

  .leave-application-input {
    min-width: 500px;
  }

  .leave-application-radio-title {
    font-size: 20px;
  }

  .leave-application-radio-label-radio-container {
    flex-direction: row;
  }

  .leave-application-container .leave-application-radio-container {
    margin-right: auto;
  }

  .leave-application-button {
    margin-top: 32px;
    max-width: 500px;
  }

  .leave-application-privacy {
    line-height: 1.7;
    min-width: 500px;
  }
}
/* -------------------------------DESKTOP SECTION-------------------------------- */
@media (min-width: 1280px) {
  .leave-application-container {
    max-width: 1024px;
  }

  .leave-application-hidden-for-desktop {
    display: none;
  }
  .leave-application-hidden {
    display: block;
  }
  .leave-application-form {
    margin-top: 0;
  }

  .leave-application-image-form-container {
    display: flex;

    gap: 32px;
  }

  .leave-application-image-container {
    width: 492px;
    height: 578px;
    background-color: var(--primary-accent-color);
    overflow: hidden;
    border-radius: 30px;
  }

  .leave-application-image-title-description-container {
    text-align: center;
    padding: 20px 20px 40px 20px;
  }

  .leave-application-image-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    color: var(--white-color);
  }

  .leave-application-image-description {
    font-size: 16px;
    margin-top: 8px;
    color: var(--white-color);
    opacity: 0.7;
  }

  .leave-application-privacy {
    height: 56px;
    font-size: 14px;
  }

  .comment {
    min-height: 104px;
  }

  .leave-application-radio-container {
    margin-top: 32px;
  }

  .leave-application-button {
    height: 60px;
  }

  .leave-application-radio-label {
    font-size: 18px;
  }

  .leave-application-radio-label-radio-container {
    margin-top: 16px;
  }

  .leave-application-input {
    height: 56px;
  }
}
