.our-lessons-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lessons-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.lesson-item {
  text-align: center;
  border: 1px solid var(--primary-accent-color);
  padding: 40px 20px;
}

.lesson-item.special {
  background-color: var(--primary-accent-color);
}

.lesson-title {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  font-weight: bold;
  color: var(--black-color);
  margin-bottom: 16px;
}

.lesson-price {
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
  color: var(--black-color);
  margin-bottom: 40px;
}

.special .lesson-title, .special .lesson-price {
  color: var(--white-color);
}

.lesson-description {
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 20px;
}

.special .lesson-description {
  color: var(--white-70)
}

.lesson-button {
  display: block;
  padding: 14px 0;
}

.special .lesson-button {
  background-color: transparent;
  color: var(--white-color);
  padding: 13px 0;
  border: 1px solid var(--white-color);
}

.special .lesson-button:hover,
.special .lesson-button:focus {
  background-color: var(--white-color);
  color: var(--primary-accent-color);
}

@media screen and (min-width: 768px) {
  .lessons-list {
    gap: 32px;
  }

  .lesson-item {
    width: 336px;
    padding: 32px 16px;
  }

  .lesson-price {
    line-height: 44px;
    margin-bottom: 32px;
  }

  .lesson-description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
  }

  .lesson-button {
    padding: 16px 0;
  }

  .special .lesson-button {
    padding: 15px 0;
  }
}

@media screen and (min-width: 1280px) {
  .lesson-item {
    padding: 32px;
    width: 320px;
  }

  .lesson-price {
    margin-bottom: 16px;
  }
}