<section class="section with-offset about-us-section" id="about-us">
  <div class="container">
    <h2 class="section-title with-offset">
      About <span class="rectangle">Us</span>
    </h2>
    <p class="section-description with-offset">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>

    <div class="about-us-content">
      <ol class="about-us-grid-container">
        <li class="about-us-item rounded">
          <p class="about-us-counter">0</p>
          <p class="about-us-text">Expert, innovative teaching staff</p>
        </li>
        <li class="about-us-item rounded">
          <p class="about-us-counter">0</p>
          <p class="about-us-text">Wide range of course levels and options</p>
        </li>
        <li class="about-us-item rounded">
          <p class="about-us-counter">0</p>
          <p class="about-us-text">Multicultural learning environment</p>
        </li>
        <li class="about-us-item rounded">
          <p class="about-us-counter">0</p>
          <p class="about-us-text">Comprehensive language support services</p>
        </li>
      </ol>

      <div class="memoji-item rounded">
        <img
          class="memoji-img"
          srcset="./img/memoji.webp 1x, ./img/memoji@2x.webp 2x"
          src="./img/memoji.webp"
          alt="memoji"
          width="254"
          height="211"
        />
      </div>
    </div>
  </div>
</section>
