<footer class="section footer">
  <div class="container">
    <div class="footer__content">
      <!-- Logo and contact info block -->
      <div class="footer__info">
        <a href="./index.html" class="footer__logo">
          english<span class="footer__logo-text">excellence</span>.
        </a>
        <address class="footer__address">
          <div class="footer__address--wrapper">
            <div class="footer__address-label">Phone number:</div>
            <a href="tel:+380684439426" class="footer__address-text link-decorator">+380 (68) 443-94-26</a>
          </div>
          <div class="footer__address--wrapper">
            <div class="footer__address-label">Address:</div>
            <a href="https://maps.app.goo.gl/QkB7sy9fMSwnRzL66" target="_blank" class="footer__address-text link-decorator">32a M. Bazhana ave</a>
          </div>
        </address>
      </div>

      <nav class="footer__nav">
        <ul class="footer__menu">
          <li class="footer__menu-item">
            <a href="#about-us" class="footer__menu-link link-decorator">About us</a>
          </li>
          <li class="footer__menu-item">
            <a href="#our-lessons" class="footer__menu-link link-decorator">Our lessons</a>
          </li>
          <li class="footer__menu-item">
            <a href="#teachers" class="footer__menu-link link-decorator">Teachers</a>
          </li>
          <li class="footer__menu-item">
            <a href="#reviews" class="footer__menu-link link-decorator">Reviews</a>
          </li>
          <li class="footer__menu-item">
            <a href="#contact-us" class="footer__menu-link link-decorator">Contact us</a>
          </li>
        </ul>
      </nav>

      <div class="footer__social">
        <ul class="footer__social-list">
          <li class="footer__social-item">
            <a class="footer__social-link" href="https://www.facebook.com/goITclub/" target="_blank">
              <svg class="footer__social-icon" width="28" height="28">
                <use xlink:href="./img/icons.svg#icon-facebook" href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="https://www.instagram.com/goitclub/" target="_blank">
              <svg class="footer__social-icon" width="28" height="28">
                <use xlink:href="./img/icons.svg#icon-instagram" href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="https://www.youtube.com/c/GoIT" target="_blank">
              <svg class="footer__social-icon" width="28" height="28">
                <use xlink:href="./img/icons.svg#icon-youtube" href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="delimiter"></div>

    <div class="footer__copyright">
      <p class="footer__copyright-text">©2023  English Excellence. All rights reserved.</p>
      <div class="footer__copyright-links">
        <a href="#" class="footer__copyright-link">Privacy Policy</a>
        <a href="#" class="footer__copyright-link">Terms of Service</a>
      </div>
    </div>
  </div>
</footer>
