<section class="hero-section">
  <div class="container wide">
    <div class="hero rounded">
      <h1 class="hero-title">
        Discover the joy of learning
        <span class="hero-span">English</span> with us!
      </h1>
      <a href="#leave-application" class="leave-appl button">
        Leave an application</a
      >
      <a class="arrow-down-scroll" href="#footer" aria-label="Scroll to footer">
        <svg class="arrow-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-arrow-down"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
