<div class="mobile-menu-overlay hidden">
  <div class="mobile-menu">
    
    <button type="button" class="mobile-menu__close-button">
      <svg width="40" height="40" class="mobile-menu__close-icon">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <ul class="mobile-menu__nav-list">
      <li class="mobile-menu__nav-item">
        <a class="mobile-menu__nav-link" href="#about-us">About us</a>
      </li>
      <li class="mobile-menu__nav-item">
        <a class="mobile-menu__nav-link" href="#our-lessons">Our lessons</a>
      </li>
      <li class="mobile-menu__nav-item">
        <a class="mobile-menu__nav-link" href="#teachers">Teachers</a>
      </li>
      <li class="mobile-menu__nav-item">
        <a class="mobile-menu__nav-link" href="#contact-us">Contact us</a>
      </li>
      <li class="mobile-menu__nav-item">
        <a class="mobile-menu__nav-link" href="#reviews">Reviews</a>
      </li>
    </ul>

    <ul class="mobile-menu__nav-social">
      <li class="mobile-menu__social-item">
        <a class="mobile-menu__social-link" href="https://www.facebook.com/goITclub/" target="_blank">
          <svg class="mobile-menu__social-logo-icon" width="28" height="28">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-menu__social-item">
        <a class="mobile-menu__social-link" href="https://www.instagram.com/goitclub/" target="_blank">
          <svg class="mobile-menu__social-logo-icon" width="28" height="28">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-menu__social-item">
        <a class="mobile-menu__social-link" href="https://www.youtube.com/c/GoIT" target="_blank">
          <svg class="mobile-menu__social-logo-icon" width="28" height="28">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

  </div>
</div>
