<section class="section with-offset">
  <div class="container">
    <div class="our-lessons-section">
      <h2 class="section-title with-offset">
        Our <span class="rectangle">lessons</span>
      </h2>
      <p class="section-description with-offset">Our lessons are carefully structured and interactive, designed to promote rapid language acquisition through practical tasks and real-world scenarios</p>
      <div class="lessons-cards">
        <ul class="lessons-list">
          <li class="lesson">
            <p class="lesson-header">Practice</p>
            <p class="lesson-price"> 40$ / month</p>
            <p class="lesson-description">
              This plan offers an opportunity for learners to engage in collaborative language exercises and group activities, boosting their conversational skills and confidence in using English.
            </p>
            <button class="lesson-button" type="button">Leave an application</button>
          </li>
          <li class="lesson">
            <p class="lesson-header">Standard</p>
            <p class="lesson-price">70$ / month</p>
            <p class="lesson-description">
              Our standard package provides a balanced learning approach that covers all key areas of English language - reading, writing, listening, and speaking.  It is a set of basic knowledge and skills.
            </p>
            <button class="lesson-button" type="button">Leave an application</button>
          </li>
          <li class="lesson">
            <p class="lesson-header">Individual</p>
            <p class="lesson-price">99$ / month</p>
            <p class="lesson-description">
              We offer a tailored learning experience with individualized instruction that focuses on a learner's specific language goals and challenges, offering personal feedback.
            </p>
            <button class="lesson-button" type="button" >Leave an application</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
