<section class="section with-offset reviews-section">
  <div class="container">
    <h2 class="section-title with-offset">
      What our <span class="rectangle">students</span> say
    </h2>
    <p class="section-description with-offset">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>

    <ul class="review-cards">
      <li class="review-card">
        <div class="review-card-header">
          <img
            class="reviewer-photo"
            srcset="./img/reviews/review-photo-1.jpg x1, ./img/reviews/review-photo-1@2x.jpg 2x"
            src="./img/reviews/review-photo-1.jpg"
            alt="anna-photo"
          />
          <div class="reviewer-info">
            <h3 class="reviewer-name">Anna</h3>
            <p class="reviewer-position">Student</p>
          </div>
        </div>
        <p class="review-text">
          My experience at the language school has been nothing short of
          amazing. The teachers are dedicated and the learning environment is
          stimulating. I feel more confident in my English skills.
        </p>
      </li>

      <li class="review-card">
        <div class="review-card-header">
          <img
            class="reviewer-photo"
            srcset="./img/reviews/review-photo-2.jpg x1, ./img/reviews/review-photo-2@2x.jpg 2x"
            src="./img/reviews/review-photo-2.jpg"
            alt="mykhailo-photo"
          />
          <div class="reviewer-info">
            <h3 class="reviewer-name">Mykhailo</h3>
            <p class="reviewer-position">Student</p>
          </div>
        </div>
        <p class="review-text">
          The school offers a great balance of language theory and practical
          exercises. The personalized feedback from the teachers has helped me
          improve my weak areas.
        </p>
      </li>

      <li class="review-card">
        <div class="review-card-header">
          <img
            class="reviewer-photo"
            srcset="./img/reviews/review-photo-3.jpg x1, ./img/reviews/review-photo-3@2x.jpg 2x"
            src="./img/reviews/review-photo-3.jpg"
            alt="victoria-photo"
          />
          <div class="reviewer-info">
            <h3 class="reviewer-name">Victoria</h3>
            <p class="reviewer-position">Student</p>
          </div>
        </div>
        <p class="review-text">
          I love the dynamic and interactive teaching methods used here. It's a
          great place to learn English in a fun and effective way. I have
          definitely seen a big improvement in my language skills.
        </p>
      </li>
    </ul>
  </div>
</section>
